.footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  color: #95afbb;
  background-color: #1b3039;
}

.main {
  padding: 2em;
  min-height: calc(100vh - 127px);
  background-color: #c2d1d8;
}

@media screen and (max-width: 530px) {
    .main{
      padding: 1em;
    }
}