.footer {
  padding: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  color: #95afbb;
  background-color: #1b3039;
}

.main {
  padding: 2em;
  min-height: calc(100vh - 126px);
  background-color: #c2d1d8;
}