body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

#root {
  height: 100vh;
}

.container {
  max-width: 1200px;
  min-height: calc(100vh - 40px);
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #3498db;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px 10px 0 0;
}

.header h1 {
  margin: 0;
}

.main {
  padding: 20px;
  height: 709px;
}

.footer {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.footer p {
  margin: 0;
}

.button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}